body {
    background: #0f172a;
    color: white;
    font-family: Arial;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.container {
    width: 400px;
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

.add-task {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px;
    background: #22c55e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

li {
    margin-top: 10px;
    padding: 10px;
    background: #334155;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.done {
    text-decoration: line-through;
    color: #94a3b8;
}
